.container_box{
    font-family: "Inter", sans-serif;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #050301;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
}