.container {
    display: flex;
    background-color: #050301;
    width: 95%;
    height: 595px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px dashed pink;
}

.title {
    color: white;
}